section.how-to-use {
	padding-top: 30px;
	padding-bottom: 0;

	@include tablet-portrait-and-up {
		padding-top: 55px;
	}

	article {
		padding: 0;
		margin: 0 auto;

		h3 {
			text-align: center;
			margin-bottom: 15px;

			@include tablet-portrait-and-up {
				margin-bottom: 25px
			}
		}

		ul {
			padding: 0;
			margin: 0;
			list-style: none;

			li {
				position: relative;
				height: 85px;
				margin-bottom: 15px;
				padding-right: 15px;

				&:last-of-type p {
					padding-top: 8px;

					@include tablet-portrait-and-up {
						padding-top: 5px;
					}
				}

				@include iphone4 {
					height: 65px;
					margin-bottom: 10px;
				}

				@include tablet-portrait-and-up {
					width: 48%;
					float: left;
					height: 140px;

					&:nth-of-type(2n) {
						margin-left: 2%;
					}

					&:nth-of-type(2n+1) {
						margin-right: 2%;
					}
				}
			}
		}

		p {
			padding: 25px 0 0 85px;

			@include iphone4 {
				padding: 10px 0 0 70px;
			}

			@include tablet-portrait-and-up {
				padding: 5px 0 0 85px;
			}
		}

		.guesture-swipe, .guesture-scroll, .guesture-single-tap, .guesture-double-tap {

			&:before {
				position: absolute;
				left: 0;
				top: 0;
				content: '';
				width: 85px;
				height: 85px;
				background-size: 85px 85px !important;

				@include iphone4 {
					width: 65px;
					height: 65px;
					background-size: 65px 65px !important;
				}
			}
		}

		.guesture-swipe {

			&:before {
				background: url(../images/common/touch-gestures/swipe.png) no-repeat;
			}
		}

		.guesture-single-tap {
			&:before {
				background: url(../images/common/touch-gestures/single-tap.png) no-repeat;
			}
		}

		.guesture-double-tap {
			&:before {
				background: url(../images/common/touch-gestures/double-tap.png) no-repeat;
			}
		}

		.guesture-scroll {
			&:before {
				background: url(../images/common/touch-gestures/scroll.png) no-repeat;
			}
		}

		hr {
			border: 0;
			border-bottom: 1px dotted #afaeac;
			margin-bottom: 20px;
		}
	}
}