/* ==================== BAR GRAPH  ==================== */
/* ------ container ------ */
div.css_bar_graph
	{
	width: 680px;
	height: 320px;
	padding: 40px 20px 10px 70px;
	/* --- font --- */
	font-size: 13px;
	font-family: arial, sans-serif;
	font-weight: normal;
	color: #444444;
	background-color: #ffffff;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid #d5d5d5;

	@include mobile-landscape-and-below {
		width: 100%;
	}

	@include mobile-portrait-only {
		padding: 40px 20px 10px 25px;
	}
}

/* ------ hyperlinks ------ */
div.css_bar_graph a
	{
	color: #444444;
	text-decoration: none;
	}

/* ------ lists ------ */
div.css_bar_graph ul
	{
	margin: 0px;
	padding: 0px;
	list-style-type: none;
	}

div.css_bar_graph li
	{
	margin: 0px;
	padding: 0px;
	}

/* ==================== Y-AXIS LABELS ==================== */
/* ------ base ------ */
div.css_bar_graph ul.y_axis
	{
	width: 50px;
	position: absolute;
	top: 40px;
	left: 10px;
	text-align: right;

	@include mobile-portrait-only {
		left: -20px;
	}
	}

/* ------ labels ------ */
div.css_bar_graph ul.y_axis li
	{
	width: 100%;
	height: 24px;	/* 50px including border */
	float: left;
	color: #888888;
	/* --- alignment correction --- */
	border-top: 1px solid transparent;
	position: relative;
	top: -13px;	/* value = font height */

		@include mobile-portrait-only {
			font-size: 12px;
		}
	}

/* ==================== X-AXIS LABELS  ==================== */
/* ------ base ------ */
div.css_bar_graph ul.x_axis
	{
	width: 100%;
	height: 50px;
	position: absolute;
	bottom: -10px;
	left: 63px;
	text-align: center;

	@include mobile-portrait-only {
		left: 30px
	}
	}

/* ------ labels ------ */
div.css_bar_graph ul.x_axis li
	{
	display: inline;
	width: 55px;
	float: left;
	color: #888888;

	@include mobile-landscape-only {
		width: 33px;
	}

	@include mobile-portrait-only {
		font-size: 12px;
		width: 23px;
	}
}

/* ==================== GRAPH LABEL  ==================== */
/* ------ base ------ */
div.css_bar_graph div.label
	{
	width: 100%;
	height: 50px;
	float: left;
	margin-top: 20px;
	text-align: center;
	}

div.css_bar_graph div.label span
	{
	font-weight: bold;
	}

/* ==================== GRAPH  ==================== */
/* ------ base ------ */
div.css_bar_graph div.graph
	{
	width: 100%;
	height: 100%;
	float: left;
	}

/* ------ grid ------ */
div.css_bar_graph div.graph ul.grid
	{
	width: 100%;
	}

/* ------ IE grid ------ */
div.css_bar_graph div.graph li
	{
	width: 100%;
	height: 24px;	/* 50px including border */
	float: left;
	border-top: 1px dashed #d5d5d5;
	}

/* ------ other browsers grid ------ */
div.css_bar_graph div.graph li:nth-child(odd)
	{
	width: 100%;
	height: 24px;	/* 50px including border */
	float: left;
	border-top: 1px dashed #d5d5d5;

	}

div.css_bar_graph div.graph li:nth-child(even)
	{
	width: 100%;
	height: 24px;	/* 50px including border */
	float: left;
	border-top: 1px dashed #d5d5d5;
	}

/* ------ bottom grid element ------ */
div.css_bar_graph div.graph li.bottom
	{
	border-top: 1px solid #d5d5d5;
	background-color: #eeeeee;
	height: 19px;
	}

/* ==================== BARS COMMON  ==================== */
/* ------ common styles ------ */
div.css_bar_graph div.graph li.bar
	{
	width: 25px;
	float: left;
	position: absolute;
	bottom: 45px;
	text-align: center;
	/* --- css3 --- */
	/* --- transitions --- */
	-webkit-transition: all 0.15s ease-in-out;
	-moz-transition: all 0.15s ease-in-out;
	-o-transition: all 0.15s ease-in-out;
	-ms-transition: all 0.15s ease-in-out;
	transition: all 0.15s ease-in-out;

	@include mobile-landscape-only {
		width: 20px;
	}

	@include mobile-portrait-only {
		width: 15px;
	}
}

/* ------ bar top circle ------ */
div.css_bar_graph div.graph li.bar div.top
	{
	width: 100%;
	height: 10px;
	margin-top: -5px;
	/* --- css3 --- */
	-moz-border-radius: 25px/10px;
	-webkit-border-radius: 25px 10px;
	border-radius: 25px/10px;
	/* --- transitions --- */
	-webkit-transition: all 0.15s ease-in-out;
	-moz-transition: all 0.15s ease-in-out;
	-o-transition: all 0.15s ease-in-out;
	-ms-transition: all 0.15s ease-in-out;
	transition: all 0.15s ease-in-out;
	}

/* ------ bar bottom circle ------ */
div.css_bar_graph div.graph li.bar div.bottom
	{
	width: 100%;
	height: 10px;
	position: absolute;
	bottom: -5px;
	left: 0px;
	/* --- css3 --- */
	-moz-border-radius: 25px/10px;
	-webkit-border-radius: 25px 10px;
	border-radius: 25px/10px;
	/* --- transitions --- */
	-webkit-transition: all 0.15s ease-in-out;
	-moz-transition: all 0.15s ease-in-out;
	-o-transition: all 0.15s ease-in-out;
	-ms-transition: all 0.15s ease-in-out;
	transition: all 0.15s ease-in-out;
	}

/* ------ bar top label ------ */
div.css_bar_graph div.graph li.bar span
	{
	visibility: hidden;	/* show label on mouse over */
	position: relative;
	top: -45px;
	padding: 3px 5px 3px 5px;
	z-index: 100;
	background-color: #eeeeee;
	border: 1px solid #bebebe;
	/* --- css3 --- */
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	/* --- gradient --- */
	background-image: linear-gradient(top, #ffffff, #f1f1f1 1px, #ebebeb); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f1f1f1', endColorstr='#ebebeb'); /* IE5.5 - 7 */
	-ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f1f1f1', endColorstr='#ebebeb'); /* IE8 */
	background: -ms-linear-gradient(top, #ffffff, #f1f1f1 1px, #ebebeb); /* IE9 */
	background: -moz-linear-gradient(top, #ffffff, #f1f1f1 1px, #ebebeb); /* Firefox */
	background: -o-linear-gradient(top, #ffffff, #f1f1f1 1px, #ebebeb); /* Opera 11  */
	background: -webkit-linear-gradient(top, #ffffff, #f1f1f1 1px, #ebebeb); /* Chrome 11  */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ffffff), color-stop(0.05, #f1f1f1), color-stop(1, #ebebeb)); /* Chrome 10, Safari */
	/* --- shadow --- */
	text-shadow: 0px 1px 0px rgba(255,255,255,1);
	box-shadow: 0px 1px 0px rgba(0,0,0,0.1);
	-webkit-box-shadow: 0px 1px 0px rgba(0,0,0,0.1);
	-moz-box-shadow: 0px 1px 0px rgba(0,0,0,0.1);
	/* --- transitions --- */
	-webkit-transition: all 0.15s ease-in-out;
	-moz-transition: all 0.15s ease-in-out;
	-o-transition: all 0.15s ease-in-out;
	-ms-transition: all 0.15s ease-in-out;
	transition: all 0.15s ease-in-out;
	}

/* ------ bars positions ------ */
div.css_bar_graph div.graph li.nr_1
	{
	left: 110px - 32px;

	@include mobile-landscape-only {
		left: 110px - 40px;
	}

	@include mobile-portrait-only {
		left: 35px;
	}
}

div.css_bar_graph div.graph li.nr_2
	{
	left: 165px - 32px;

	@include mobile-landscape-only {
		left: 165px - 62px;
	}

	@include mobile-portrait-only {
		left: 56px;
	}
}

div.css_bar_graph div.graph li.nr_3
	{
	left: 220px - 32px;

	@include mobile-landscape-only {
		left: 220px - 84px;
	}

	@include mobile-portrait-only {
		left: 79px;
	}
}

div.css_bar_graph div.graph li.nr_4
	{
	left: 275px - 32px;

	@include mobile-landscape-only {
		left: 275px - 106px;
	}

	@include mobile-portrait-only {
		left: 102px;
	}
}

div.css_bar_graph div.graph li.nr_5
	{
	left: 330px - 32px;

	@include mobile-landscape-only {
		left: 330px - 128px;
	}

	@include mobile-portrait-only {
		left: 126px;
	}
}

div.css_bar_graph div.graph li.nr_6
	{
	left: 385px - 32px;

	@include mobile-landscape-only {
		left: 385px - 150px;
	}

	@include mobile-portrait-only {
		left: 150px;
	}
}

div.css_bar_graph div.graph li.nr_7
	{
	left: 440px - 32px;

	@include mobile-landscape-only {
		left: 440px - 172px;
	}

	@include mobile-portrait-only {
		left: 172px;
	}
}

div.css_bar_graph div.graph li.nr_8
	{
	left: 495px - 32px;

	@include mobile-landscape-only {
		left: 495px - 194px;
	}

	@include mobile-portrait-only {
		left: 195px;
	}
}

div.css_bar_graph div.graph li.nr_9
	{
	left: 550px - 32px;

	@include mobile-landscape-only {
		left: 550px - 216px;
	}

	@include mobile-portrait-only {
		left: 217px;
	}
}

div.css_bar_graph div.graph li.nr_10
	{
	left: 605px - 32px;

	@include mobile-landscape-only {
		left: 605px - 238px;
	}

	@include mobile-portrait-only {
		left: 240px;
	}
}

div.css_bar_graph div.graph li.nr_11
	{
	left: 660px - 32px;

	@include mobile-landscape-only {
		left: 660px - 260px;
	}

	@include mobile-portrait-only {
		left: 262px;
	}
}



/* ==================== GREEN BAR  ==================== */
/* ------ base ------ */
div.css_bar_graph div.graph li.green
	{
	background: rgba($brand,0.8);
	}

/* ------ top ------ */
div.css_bar_graph div.graph li.green div.top
	{
	background: lighten($brand, 20%);
	}

/* ------ bottom ------ */
div.css_bar_graph div.graph li.green div.bottom
	{
	background: darken($brand, 10%);
	}

div.css_bar_graph div.graph li.green:hover
	{
	cursor: pointer;
	background: darken($brand, 10%);
	}

div.css_bar_graph div.graph li.bar:hover span
	{
	visibility: visible;
	cursor: pointer;
	top: -55px;
	margin: 0px;
	}