header {
	.approach-beta {
		padding-top: 8px;
		margin-top: -10px;
		display: block;
		background: $breadcrumb-bg;

		@include tablet-portrait-and-up {
			display: none;
		}

		.when-to-climb {
			display: inline-block;
			margin-bottom: 5px;
			margin-left: 0px;

			&:before {
				margin-left: 0;
			}
		}

		.approach {
			display:  inline-block;

			&:before {
				padding-left: 0px;
			}
		}
	}
}

section#overview-page {
	min-height: 1px;
	height: auto;

	a.next-page {
		@extend .ir;
		background: url(../images/common/arrow-right.png) no-repeat;
		position: absolute;
		top: 150px;
		right: 25px;
		display: block;
		height: 30px;
		width: 30px;

		@include mobile-landscape-and-below {
			display: none;
		}
	}

	// page typography
	.when-to-climb {
		font-family: 'MuseoSans_300';
	    font-size: 13.5px;
	    color: $text;

	    &:before {
			display: inline-block;
			content: '1';
			font-size: 18px;
			font-family: 'icon';
			margin-right: 5px;

			@include mobile-landscape-and-below {
				margin-left: 20px;
			}
		}

		@include mobile-landscape-and-below {
			display: inline-block;
			margin-right: 10px;

			&:after {
				content: '\2022';
				margin-left: 15px;
			}
		}
	}

	.approach {
		@extend .icon-approach;
		color: $text;
		font-size: 13.5px;
		font-family: 'MuseoSans_300';

		@include mobile-landscape-and-below {
			display: inline;
		}

		&:before {
			position: relative;
			display: inline-block;
			top: 1px;
			font-size: 22px;
			padding-left: 10px;
			padding-right: 5px;
		}

		&:after {
			color: $text;
			content: ' MIN';
		}
	}

	article {
		width: 520px;
		padding-left: 40px;
		padding-right: 50px;
		float: left;

		@include mobile-landscape-and-below {
			width: 100%;
			padding: 0 15px;
		}

		details {
			summary {
				font-family: 'MuseoSans_500';
		    font-size: 20px;
		    color: $heading;
		    margin-bottom: 5px;

		    @include mobile-landscape-and-below {
		       font-size: 18px;
		    }
			}
		}

		h2 {
			@include mobile-landscape-and-below {
				margin-bottom: 10px;
				line-height: 1.1em;
				padding-bottom: 15px;
				margin-bottom: 0px;
			}
		}

		p {

		}

		.parking-gps, .boulders-gps {
			width: 100%;
			display: block;
		}
	}

	aside {
		position: relative;
		width: 210px;
		float: left;

		@include mobile-landscape-and-below {
			position: static;
			width: 100%;
			padding: 0 15px;
		}

		hgroup {
			max-height: 75px;
			border: 1px solid darken($breadcrumb-bg, 4%);
			display: block;
			background: $breadcrumb-bg;
			margin-bottom: 20px;

			@include mobile-landscape-and-below {
				display: none;
			}
		}

		.approach {
			color: #fff;
			font-size: 13.5px;
			font-family: 'MuseoSans_300';
			padding: 10px 0 35px 0px;
			margin-bottom: 25px;

			@include mobile-landscape-and-below {
				display: none;
			}

			&:before {
				@include mobile-landscape-and-below {
					content: '';
					padding-right: 0px;
				}
			}

			&:after {
				color: #fff;
				content: ' MIN';
			}
		}

		.when-to-climb {
			color: #fff;
			width: 180px;
			position: absolute;
			top: 40px;
			padding-left: 14px;

			@include mobile-landscape-and-below {
				display: none;
			}
		}

		h4 {
			@include mobile-landscape-and-below {
				padding-top: 20px;
			}
		}

		ul {

			list-style: none;
			margin: 0;
			padding: 10px 0 0 0;

			li {
				a {
					@include button;
					@extend .icon-heart;
					position: relative;
					font-family: 'MuseoSans_500';
					color: $text;
					display: block;
					padding: 16px 5px 16px 30px;
					font-size: 15px;
					text-decoration: none;
					width: 100%;
					margin-bottom: 3px;

					@include tablet-portrait-and-up {
						margin-bottom: 10px;
					}

					&:before {
						position: absolute;
						font-size: 16px;
						color: $brand;
						padding-right: 3px;
						top: 50%;
						margin-top: -7px;
						left: 8px;
					}

					&.video {
						&:after {
							@extend .icon;
    						content: 'G';
    						margin-left: 5px;
						}
					}

					span {
						font-family: 'MuseoSans_100';
						padding-left: 3px;
					}
				}
			}
		}
	}
}

section.beta {
	min-height: 1px;
	height: auto;
	overflow: hidden;
	padding: 0 40px;
	margin-bottom: 40px;

	@include mobile-landscape-and-below {
		padding: 25px 0 0 15px;
		margin-bottom: 20px;
	}

	article {
		max-width: 100%;
		width: 100%;
		border-bottom: 0;
		margin-left: 0px;
		padding-left: 0px;
		padding-bottom: 0 ;

		ul.nav {
			padding: 0;
			margin: 0;
			list-style: none;
		}

		.tab {
			a {
				@include mobile-landscape-and-below {
					font-size: 14px;
				}
			}

			&:nth-of-type(1) a {
				&:before {
					display: inline-block;
					content: 'B';
					font-family: 'icon';
					margin-right: 5px;
				}
			}

			&:nth-of-type(2) a {
				&:before {
					display: inline-block;
					content: 'C';
					font-family: 'icon';
					margin-right: 5px;
				}
			}

			&:nth-of-type(3) a {
				&:before {
					display: inline-block;
					content: '8';
					font-family: 'icon';
					margin-right: 5px;
				}
			}
		}

		#tab1 {
			position: relative;
			iframe {
				z-index: 1000;
			}
		}

		#tab2 {
			height: 325px;
			overflow-x: scroll;
			overflow-y: hidden;

			img {
				width: auto !important;
				max-width: none !important;
			}
		}

		#tab3 {

		}

		.content {
			width: 100%;
			margin-bottom: 20px;
			min-height: 400px;


			span {
				font-size: 18px;
				display: inline-block;
				margin-right: 20px;

				&.parking:before {
					display: inline-block;
					position: relative;
					top: 3px;
					content: '';
					background: url(../images/common/cabs.png) no-repeat;
					height: 32px;
					width: 32px;
					padding-right: 5px;
				}

				&.boulders:before {
					display: inline-block;
					position: relative;
					top: 3px;
					content: '';
					background: url(../images/common/blue-dot.png) no-repeat;
					height: 32px;
					width: 32px;
					padding-right: 5px;
				}
			}
		}

		.content-2 { }

		.content-3 {}
	}

}