// For the background gradient effect.
.wrap {
	@include vignette;
}

section {
	@extend .container;
	// min-height: 1024px;
	width: 100%;
	padding-bottom: 25px;

	@include mobile-portrait-and-below {
		// min-height: 480px;
	}
}

header {
	margin-bottom: 40px;
	position: relative;

	@include mobile-portrait-and-below {
		margin-bottom: 15px;
	}

	@include mobile-landscape-only {
		margin-bottom: 20px;
	}

	.pg {
		@include round(70px);
		position: absolute;
		left: 30px;
		top: 17px;
		width: 115px;
		height: 115px;
		margin: 0 auto;
		padding-top: 34px;
		background: $brand;
		opacity: $page-bubble-opacity;
		z-index: 100;

		@include mobile-portrait-and-below {
			@include round(33px);
			top: 6px;
			left: 15px;
			width: 66px;
			height: 66px;
			padding-top: 16px;
		}

		@include mobile-landscape-only {
			@include round(40px);
			top: 8px;
			left: 10px;
			width: 80px;
			height: 80px;
			padding-top: 18px;
		}

		p {
			position: relative;
			font-family: 'OpenSansExtraBold';
			font-size: 50px;
			text-align: center;
			line-height: 100%;
			margin-bottom: 0px;
			color: rgba(#fff, $page-number-opacity);
			// text-shadow: 1px 1px 0px rgba(#000, .5);
			text-transform: uppercase;

			@include mobile-portrait-and-below {
				font-size: 30px;
			}

			@include mobile-landscape-only {
				font-size: 40px;
			}
		}
	}

	// Play Button for Video/Featured Pages
	img.play {
		position: absolute;
		opacity: .7;
		z-index: 100;
	}
}

article {
	padding-bottom: 20px;
	padding-left: 75px;
	max-width: 580px;
	width: 100%;

	@include mobile-landscape-and-below {
		padding: 0px 15px;
	}	
}

.breadcrumb {
	position: relative;
	width: 93%;
	background: $breadcrumb-bg;
	padding-left: 50px; 
	margin-top: -25px;
	margin: -25px auto;
	margin-bottom: 25px;
	border-bottom: $breadcrumb-border-thick solid $breadcrumb-border;

	@include mobile-landscape-and-below {
		overflow: hidden;
		width: 100%;
		padding: 10px 15px;
		margin-bottom: 15px;
	}

	a {
		font-size: 16px;
		color: $breadcrumb-link;
		font-family: 'MuseoSans_300';
		text-decoration: none;
		margin-right: 5px;
		margin-left: 5px;

		@include mobile-landscape-and-below {
			font-size: 14px;
		}			
	}
	
	p {
		@include mobile-landscape-and-below {
			margin-bottom: 0px;
		}
	}

	span {
		color: $breadcrumb-link;
		font-size: 16px;
		margin-left: 5px;

		@include mobile-landscape-and-below {
			font-size: 13.5px;
		}
	}

	// Detail Page Problems Count
	.problem-count {
		position: absolute;
		top: 0px;
		right: 30px;
		font-size: 14px;

		@include mobile-landscape-and-below {
			position: relative;
			width: 100%;
			left: 5px;
			margin-bottom: 5px;
			font-size: 13.5px;
			display: none; // Not sure what up yet.
		}

		&:before {
			content:'(';

			@include mobile-landscape-and-below {
				content: '';
			}
		}

		&:after {
			content: ' problems)';

			@include mobile-landscape-and-below {
				content: '';
			}
		}
	}
}