.etabs {
	margin: 0;
	padding: 0;
	list-style: none;

	#tab1, #tab2, #tab3 {
		width: 680px;
	}
}

.tab {
	display: inline-block;
  position: relative;
	margin: 20px auto 16px auto;

	a {
		@include linear-transition(.2s);
		@include button;
		font-family: 'MuseoSans_500';
		color: darken($text, 60%);
		font-size: 14px;
		text-decoration: none;
		text-transform: uppercase;
		padding: 18px 15px;
		border-top: 1px solid $breadcrumb-bg;
		border-right: 1px solid $breadcrumb-bg;
		border-left: 1px solid $breadcrumb-bg;

		@include tablet-portrait-and-up {
			padding: 18px 36px;
		}

		&.current {
			color: $text;
			background: lighten($body-bg, 12%);
			border-top: 1px solid $breadcrumb-bg;
			border-right: 1px solid $breadcrumb-bg;
			border-left: 1px solid $breadcrumb-bg;
			padding-top: 22px;
		}
	}
}

.tab-container {
	width: 100%;
}