// TOC
.body-toc-ios {
	.toc-list-ios {
		.toc-dossier {

			.toc-dossier-number {
				@include round(50%);
				top: 18px;
				font-family: 'OpenSansExtrabold';
				font-size: 50px;
				color: $nav-bg;
				padding-top: 28px;
				background: lighten($body-bg, 14%);
				letter-spacing: -2px;
				height: 85px;
				width: 85px;
				text-align: center;
			}

			&.twodigit  .toc-dossier-number {
				padding-right: 5px !important;
			}

			h1 {
				font-size: 22px;
				line-height: 24px !important;
			}

			h1 + p.description {
				margin-top: -2px;
			}

			p {
				font-size: 12px;
				font-family: MuseoSans_300;
				color: #c6c6c8;
				margin-bottom: 0px;

				&.description {
					line-height: 16px !important;
				}

				&.area-rating {
					font-family: 'icon';
					font-size: 12px;
					letter-spacing: 2px;
					color: $rating;
					margin-bottom: 6px;
				}

				&.number-problems {
					margin-bottom: 2px;

					&:after {
						content: ' problems';
					}
				}

				&.approach {
					&:after {
						content: ' min approach';
					}
				}
			}
		}
	}
}