h1,
h2,
h3,
h4,
h5,
h6,
p,
body {
    margin: 0px;
    padding: 0px;
    font-weight: normal;
    font-family: 'MuseoSans_300';
}

p {
    margin-bottom: 25px;
    color: $text;
    font-size: 18px;
    line-height: 1.4;
}

b, strong {
    font-family: 'MuseoSans_500';
    color: lighten($text, 5%);
}

em {
    font-family: 'MuseoSans_300_Italic';
}

li {
    color: $text;
    font-size: 1.188em;
    line-height: 1.50em !important
}

a:link, a:visited, a:hover {
	color: $brand;
    text-decoration: none;
}

h2 {
    font-family: 'PTSansNarrowBold';
    font-size: 54px;
    line-height: 1;
    margin-bottom: 15px;
    font-weight: 300;
    color: $title;

    @include mobile-landscape-and-below {
        font-size: 38px;
        margin-bottom: 10px;
    }
}

h3 {
    font-family: 'MuseoSans_500';
    font-size: 24px;
    color: $heading;

    @include mobile-landscape-and-below {
       font-size: 24px;
    }
}

details, details:focus, summary:focus, summary {
    outline: none;
}

h4 {
    font-family: 'MuseoSans_500_Italic';
    font-size: 20px;
    text-transform: uppercase;
    color: $heading;
}

h5 {
    font-family: 'MuseoSans_500';
    font-size: 18px;
    text-transform: uppercase;
    color: $heading;

    @include mobile-landscape-and-below {
       font-size: 16px;
    }
}

p + h3 {
    padding-top: 10px;
}

h3 + p {
    padding-top: 5px;
}

small {
    display: inline-block;
    font-size: 12px;
    line-height: 14px;
}

figure {
    position: relative;
    height: auto;
    width: 95%;
    margin: 0 auto;
    margin-bottom: 15px;

    figcaption {
        position: absolute;
        bottom: 10px;
        left: 0;
        width: 100%;
        padding: 20px 33px 20px;
        color: $figcaption;
        background: $figure-bg;

        @include mobile-landscape-and-below {
            padding: 15px 20px 15px;
        }
    }
}

///////////////////////////
// Custom Helper Classes
///////////////////////////
.btn, .btn:visited, .btn:active {
    @include button;
    color: $text !important;
    font-family: 'MuseoSans_500';
    font-size: 15px;
}

// Go back button
.go-back {
    @include tablet-portrait-and-up {
        padding: 20px 30px;
    }

    @extend .icon-left;
    &:before {
        margin-right: 6px;
    }
}

// Photo Video
a.photo {
    @extend .icon-photo;
    &:before{
        font-size: 20px;
    }
}

a.video {
    @extend .icon-video;
    &:before{
        font-size: 20px;
    }
}

// Boulder problems logo
.boulder-problems-logo {
    @extend .icon-boulder-problems;
    &:before {
        margin-right: 6px;
    }
}

// Feedback bubbles
.guide-feedback {
    &:before {
        content: '2';
        font-family: 'icon';
        margin-right: 6px;
    }
}

// Parking & GPS icons inline
.parking-gps, .boulders-gps {
    margin-bottom: 0;
    color: $text !important;

    @include mobile-landscape-and-below {
        width: 100%;
        display: block;
    }

    &:before {
        margin-right: 5px;
    }
}

// Star Rating
._1star:before {
    content: 'F';
}

._2star:before {
    content: 'FF';
}

._3star:before {
    content: 'FFF';
}

._4star:before {
    content: 'FFFF';
}

._5star:before {
    content: 'FFFFF';
}

// GPS ICONS
.boulders-gps {
    @extend .icon-pin;
    margin-left: 3px;

    &:before {
        margin-right: 8px;
    }
}

.parking-gps {
    @extend .icon-car;
}

// Folded Map Icon for the Google links.
.google-map-link {
    @extend .icon-map;
    color: $text !important;
    width: 100%;
    display: block;
    margin-bottom: 5px;

    &:before {
        margin-right: 8px;
    }
}

//////////////////
// Icons
//////////////////
.icon {
    font-family: 'icon';
}

.icon-rss:before {
    @extend .icon;
    content: 'A';
}

.icon-map:before {
    @extend .icon;
    content: 'B';
}

.icon-compass:before {
    @extend .icon;
    content: 'C';
}

.icon-heart:before {
    @extend .icon;
    content: 'D';
}

.icon-open-star:before {
    @extend .icon;
    content: 'E';
}

.icon-star:before {
    @extend .icon;
    content: 'F';
}

.icon-video:before {
    @extend .icon;
    content: 'G';
}

.icon-photo:before {
    @extend .icon;
    content: 'H';
}

.icon-location:before {
    @extend .icon;
    content: 'I';
}

.icon-car:before {
    @extend .icon;
    content: 'J';
}

.icon-quote-l:before {
    @extend .icon;
    content: 'K';
}

.icon-quote-r:before {
    @extend .icon;
    content: 'L';
}

.icon-approach:before {
    @extend .icon;
    content: 'M';
}

.icon-pin:before {
    @extend .icon;
    content: '1';
}

.icon-convo:before {
    @extend .icon;
    content: '2';
}

.icon-comment:before {
    @extend .icon;
    content: '3';
}

.icon-search:before {
    @extend .icon;
    content: '4';
}

.icon-left:before {
    @extend .icon;
    content: '5';
}

.icon-right:before {
    @extend .icon;
    content: '6';
}

.icon-close:before {
    @extend .icon;
    content: '7';
}

.icon-boulder-problems:before {
    @extend .icon;
    content: '8';
}