section#story {

	header {
		hgroup {
			display: block;
			position: absolute;
			bottom: 60px;
			left: 50px;

			@include mobile-landscape-only {
				top: 120px;
				left: 15px;
			}

			@include mobile-portrait-only {
				bottom: 20px;
				left: 15px;
			}

			h2 {
				color: #fff;
				font-size: 65px;
				line-height: 1em;
				text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.5);
				margin-bottom: 10px;

				@include mobile-portrait-only {
					font-size: 40px;
					margin-bottom: 0px;
				}
			}

			h3 {
				font-family: 'MuseoSans_300';
				color: #fff;
				font-size: 18px;
				text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.5);
			}
		}
	}

	article {
		max-width: 675px;
		padding-left: 130px;

		@include mobile-landscape-and-below {
			padding: 0px 15px;
		}

		blockquote {
			font-family: 'MuseoSans_100_Italic';
			font-size: 22px;
			line-height: 28px;
			color: $blockquote;
			width: 425px;
			border-left: 2px solid $blockquote-side;
			padding-left: 20px;
			margin: 0 0 40px 40px;

			@include mobile-landscape-and-below {
				width: 90%;
				margin: 0 0 20px 20px;
				font-size: 18px;
				line-height: 24px;
			}
		}

		ul {
			padding-left: 15px;

			@include tablet-portrait-and-up {
				padding-left: 35px;
			}
		}

		p + blockquote {
			margin-top: 40px;

			@include mobile-landscape-and-below {
				margin-top: 20px;
			}
		}
	}

}