// ================================================== 
// Custom Tweaks for Areas
// ================================================== 

// OFF THE PATH PAGE (off-the-path.html) 
.off-the-path {
	article {
		
		img {
			float: left;
			width: 125px;

			@include mobile-landscape-and-below {
				display: none;
			}
		}

		.area {
			overflow: hidden;
		}

		.area-info {
			width: 100%;
			float: left;

			h3 {
				&:before {
					content: 'E';
					font-family: 'icon';
					margin-right: 5px;
				}
			}
		}

		img + .area-info {
			margin-left: -125px;
			padding-left: 150px;

			@include mobile-landscape-and-below {
				margin-left: 0px;
				padding-left: 0px;
			}
		}
		
	}
}