// ROUNDED SHIT
@mixin round ($radius){
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	-khtml-border-radius: $radius;
	border-radius: $radius;
}


@mixin inner-shadow($amount, $color) {
   -moz-box-shadow:    inset 0 0 $amount $color;
   -webkit-box-shadow: inset 0 0 $amount $color;
   box-shadow:         inset 0 0 $amount $color;
}

@mixin button {
	background: $breadcrumb-bg;
	// border: 1px solid darken($breadcrumb-bg, 4%);
	padding: 15px 20px;
	margin-bottom: 10px;
}

@mixin vignette {
  // position: fixed;
  // z-index: -1;
  // top: 0;
  // left: 0;
  // width: 100%;
  // height: 100%;
  // opacity: .2;
  // background: -moz-radial-gradient(center, ellipse cover,  rgba(255,255,255,0) 60%, rgba(252,252,252,0) 1%, rgba(0,0,0,0.3) 99%, rgba(0,0,0,0.3) 100%); /* FF3.6+ */
  // background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(255,255,255,0)), color-stop(60%,rgba(252,252,252,0)), color-stop(99%,rgba(0,0,0,0.3)), color-stop(100%,rgba(0,0,0,0.3))); /* Chrome,Safari4+ */
  // background: -webkit-radial-gradient(center, ellipse cover,  rgba(255,255,255,0) 0%,rgba(252,252,252,0) 60%,rgba(0,0,0,0.3) 99%,rgba(0,0,0,0.3) 100%); /* Chrome10+,Safari5.1+ */
}

@mixin linear-transition($time) {
  transition:all $time linear;
  -o-transition:all $time linear;
  -moz-transition:all $time linear;
  -webkit-transition:all $time linear;
}