// ==================================================
// Basic Styles
// ==================================================
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	font: .635em/2.6em 'MuseoSans_300', sans-serif;
	color: $text;
	background: $body-bg;
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: 100%;
}


// ==================================================
// Responsive Media
// ==================================================
img, video, embed, object {
	max-width: 100%;
	height: auto;
}

img {
	-ms-interpolation-mode: bicubic;
	border: 0;
}


// ==================================================
// Non semantic helper classes
// ==================================================
// For image replacement
.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; *line-height: 0; }
.ir br { display: none; }

// Hide from both screenreaders and browsers: h5bp.com/u
.hidden { display: none !important; visibility: hidden; }

// Hide only visually, but have it available for screenreaders: h5bp.com/v
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

// Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

// Hide visually and from screenreaders, but maintain layout
.invisible { visibility: hidden; }


// ==================================================
// Misc
// ==================================================
.remove-top { margin-top: 0 !important; }
.half-top { margin-top: 10px !important; }
.add-top { margin-top: 20px !important; }
.remove-bottom { margin-bottom: 0 !important; }
.half-bottom { margin-bottom: 10px !important; }
.add-bottom { margin-bottom: 20px !important; }
.full-width {width: 100%;}
hr.partial-bottom{margin-bottom: 15px;}
hr.remove-top{margin-top: 0px;}


// ==================================================
// Basic alignment
// ==================================================
.alignleft{float: left; margin: 20px 20px 20px 0;}
.aligncenter{text-align: center; clear: both; margin: 20px auto; display: block;}
.alignright{float: right; margin: 20px 0px 20px 20px;}
.alignnone{margin: 20px 20px 20px 20px;}
