
@font-face {
  font-family: 'MuseoSans_100';
  src: url('../fonts/museo-sans/MuseoSans_100.woff') format('woff'),
       url('../fonts/museo-sans/MuseoSans_100.ttf')  format('truetype'),
       url('../fonts/museo-sans/MuseoSans_100.svg#svgFontName') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MuseoSans_100_Italic';
  src: url('../fonts/museo-sans/MuseoSans_100_Italic.woff') format('woff'),
       url('../fonts/museo-sans/MuseoSans_100_Italic.ttf')  format('truetype'),
       url('../fonts/museo-sans/MuseoSans_100_Italic.svg#svgFontName') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MuseoSans_300';
  src: url('../fonts/museo-sans/MuseoSans_300.woff') format('woff'),
       url('../fonts/museo-sans/MuseoSans_300.ttf')  format('truetype'),
       url('../fonts/museo-sans/MuseoSans_300.svg#svgFontName') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MuseoSans_300_Italic';
  src: url('../fonts/museo-sans/MuseoSans_300_Italic.woff') format('woff'),
       url('../fonts/museo-sans/MuseoSans_300_Italic.ttf')  format('truetype'),
       url('../fonts/museo-sans/MuseoSans_300_Italic.svg#svgFontName') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MuseoSans_500';
  src: url('../fonts/museo-sans/MuseoSans_500.woff') format('woff'),
       url('../fonts/museo-sans/MuseoSans_500.ttf')  format('truetype'),
       url('../fonts/museo-sans/MuseoSans_500.svg#svgFontName') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MuseoSans_500_Italic';
  src: url('../fonts/museo-sans/MuseoSans_500_Italic.woff') format('woff'),
       url('../fonts/museo-sans/MuseoSans_500_Italic.ttf')  format('truetype'),
       url('../fonts/museo-sans/MuseoSans_500_Italic.svg#svgFontName') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MuseoSans_700';
  src: url('../fonts/museo-sans/MuseoSans_700.woff') format('woff'),
       url('../fonts/museo-sans/MuseoSans_700.ttf')  format('truetype'),
       url('../fonts/museo-sans/MuseoSans_700.svg#svgFontName') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MuseoSans_700_Italic';
  src: url('../fonts/museo-sans/MuseoSans_700_Italic.woff') format('woff'),
       url('../fonts/museo-sans/MuseoSans_700_Italic.ttf')  format('truetype'),
       url('../fonts/museo-sans/MuseoSans_700_Italic.svg#svgFontName') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Icon';
    src: url('../fonts/icon/BoulderingGuides.woff') format('woff'), 
         url('../fonts/icon/BoulderingGuides.ttf')  format('truetype'), 
         url('../fonts/icon/BoulderingGuides.svg#svgFontName') format('svg'); 
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'OpenSansExtrabold';
    src: url('../fonts/open-sans/OpenSans-ExtraBold-webfont.woff') format('woff'),
         url('../fonts/open-sans/OpenSans-ExtraBold-webfont.ttf') format('truetype'),
         url('../fonts/open-sans/OpenSans-ExtraBold-webfont.svg#OpenSansExtrabold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'PTSansNarrowRegular';
    src: url('../fonts/pt-sans/PTN57F-webfont.woff') format('woff'),
         url('../fonts/pt-sans/PTN57F-webfont.ttf') format('truetype'),
         url('../fonts/pt-sans/PTN57F-webfont.svg#PTSansNarrowRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'PTSansNarrowBold';
    src: url('../fonts/pt-sans/PTN77F-webfont.woff') format('woff'),
         url('../fonts/pt-sans/PTN77F-webfont.ttf') format('truetype'),
         url('../fonts/pt-sans/PTN77F-webfont.svg#PTSansNarrowBold') format('svg');
    font-weight: normal;
    font-style: normal;

}