// Boulder Guides Brand
$brand: #e35d8f;

// Bg color
$body-bg: #2a2d37;

// Touch nav
$nav-bg: #181a20;

// Text & headings
$text: #f0f0f0;
$heading: #f0f0f0;
$title: #fff;

// Figures
$figcaption: #fff;
$figure-bg: lighten($body-bg, 10%);

// Quote
$blockquote: $brand;
$blockquote-side: $brand;

//Breadcrumb
$breadcrumb-link: #fff;
$breadcrumb-bg: darken($body-bg, 4%);
$breadcrumb-border: #000;
$breadcrumb-border-thick: 0px;

// Problems
$easy:  #edc700; //#f2b028
$med: #e74c3c; //#be1935
$hard: #3498db; //#2874a9
$proj: lighten(#000, 65%);

$placeholder-color: #212121;

// Star System
$rating: $brand; // lighten(#F7A21B, 10%)

// Number of Sections for TOC
$number-of-sections: 18;

// The opacity for the page number and cover bubble
$page-number-opacity: 1;
$page-bubble-opacity: 1;