section#detail-page {

	header:after {
		bottom: -24px;
	}

	header {

		@include tablet-portrait-only {
			position: fixed; // Fixed for easy of problem reference.
			top: 0px;
			width: 100%;
			z-index: 300;
		}

		@include mobile-portrait-only {
			position: fixed; // Fixed for easy of problem reference.
			top: 0px;
			width: 100%;
			z-index: 300;
		}

		.beta-overlay {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			z-index: 1000;
		}
	}

	.breadcrumb {
		@include tablet-portrait-only {
			width: 100%;
			position: fixed; // Fixed for easy of problem reference.
			top: 445px;
			padding-left: 70px;
			z-index: 200;

			p {
				padding-top: 25px;
			}
		}

		@include mobile-portrait-only {
			position: fixed; // Fixed for easy of problem reference.
			top: 200px;
			z-index: 200;
			padding-bottom: 5px;
		}
	}

	article {
		width: 100%;
		max-width: 675px;

		@include tablet-portrait-only {
			margin-top: 490px; // Bump down the article from the top.
			padding-top: 20px;
		}

		@include mobile-portrait-and-below {
			margin-top: 218px; // Bump down the article from the top.
			padding-top: 10px;
		}

		ul {
			list-style: none;
			padding: 0px;

			.proj {

				.title {
					color: $proj;
				}

				.grade {
					display: none;
				}

				.rating {
					color: lighten($proj, 10%);
				}

				p {
					color: $proj;
				}

				.range {
					background: $proj;
				}
			}

			li {
				position: relative;
				margin-bottom: 30px;

				.photo a, .video a{
					position: absolute;
					font-family: 'icon';
					font-size: 28px;
					color: #888;
					top: 50%;
					right: -30px;
					margin-top: -8px;

					@include mobile-landscape-and-below {
						font-size: 20px;
						top: 37px;
						left: 3px;
						margin-top: 0;
					}
				}

				.range {
					@include round(2px);
					font-family: 'OpenSansExtrabold' !important;
					font-size: 13px;
					color: #fff;
					padding: 4px 6px;
					margin-right: 6px;
					top: 2px;
					position: absolute;

					@include mobile-landscape-and-below {
						width: 45px;
						position: relative;
						text-align: right;
					}
				}

				.easy {
					background: $easy;
				}

				.med {
					background: $med;
				}

				.hard {
					background: $hard;
				}

				.title {
					font-family: 'MuseoSans_500';
					font-size: 24px;
					line-height: 22px;
					color: $heading;
					padding: 0 10px 0 45px;
					margin-bottom: 0px;

					@include mobile-landscape-and-below {
						font-size: 22px;
						line-height: 22px;
						display: block;
						position: relative;
						width: 390px;
						margin-top: -25px;
						margin-bottom: 5px;
					}

					@include mobile-portrait-only {
						width: 230px;
					}
				}

				.grade {
					font-family: 'MuseoSans_100';
					font-size: 22px;
					color: $heading;
					padding-right: 10px;

					@include mobile-landscape-and-below {
						position: absolute;
						right: 5px;
						top: -5px;
					}
				}

				// Star rating via css :before.
				.rating {
					position: relative;
					display: none;
					font-family: 'icon';
					font-size: 13px;
					letter-spacing: 3px;
					top: -3px;
					color: $rating;

					@include mobile-landscape-and-below {
						padding: 5px 0 0 45px;
						top: 0;
						margin-bottom: 0px;
					}

					&._1star, &._2star, &._3star, &._4star, &._5star {
						display: inline-block;

						@include mobile-landscape-and-below {
							display: block;
							top: -3px;
						}
					}
				}

				p {
					width: 515px;
					padding-left: 47px;
					line-height: 1.4;
					padding-top: 4px;
					opacity: .85;

					@include mobile-landscape-and-below {
						padding-top: 0px;
						width: 100%;
					}

					strong, b {
						font-family: 'MuseoSans_500_Italic';
						font-weight: normal;
					}
				}

				.bp {
					position: absolute;
					width: 40px;
					height: 38px;
					top: 35px;
					right: 0px;

					@include mobile-landscape-and-below {
						left: 0px;
						top: 40px;
					}

					a {
						background: url('../images/common/checkbox-off.png') no-repeat;
						background-size: 40px 38px;
						width: 40px;
						height: 38px;
						@extend .ir;
						opacity: .6;
					}

					.send {
						background: url('../images/common/checkbox-on.png') no-repeat;
						background-size: 40px 38px;
						width: 40px;
						height: 38px;
						opacity: 1;
					}

				}
			}
		}
	}
}