section#cover {
	@extend .container;
	text-align: center;

	article {
		position: relative;
		margin: 0 auto;
		padding: 300px 0 0 0;

		@include mobile-landscape-and-below {
			padding-top: 120px;
		}

		@include iphone5 {
			padding-top: 160px;
		}

		hgroup {
			position: relative;

			h1, h1 a {
				font-family: "MuseoSans_100";
				font-size: 44px;
				line-height: 36px;
				margin-bottom: 10px;
				color: $text;
				padding-top: 115px;

				@include tablet-portrait-and-up {
					font-size: 86px;
					line-height: 70px;
					margin-bottom: 25px;
				}

				@include tablet-portrait-and-up {
					padding-top: 165px;
				}

				&:before {
					position: absolute;
					left: 50%;
					top: 0px;
					display: block;
					content: '';
					height: 100px;
					width: 100px;
					background: url(../images/cover/icon.png) no-repeat;
					background-size: 100px 100px;
					margin-left: -50px;

					@include tablet-portrait-and-up {
						height: 150px;
						width: 150px;
						background-size: 150px 150px;
						margin-left: -75px;
					}
				}
			}

			h2 {
				font-family: "MuseoSans_100";
				font-size: 20px;
				text-transform: uppercase;
				color: $text;

				@include mobile-landscape-and-below {
					font-size: 15px;
				}
			}
		}		
	}
}