section#photo-page {
	min-height: 100%;
	max-height: 1024px;
	overflow: hidden;

	@include iphone5 {
		max-height: 568px
	}

	@include iphone4 {
		max-height: 480px;
	}

	.photo-credit {
		position: absolute;
		bottom: 5px;
		width: 100%;
		z-index: 2;

		&.one-liner:after, &.one-liner:before, &.one-liner > hgroup:before {
			height: 360px;
		}

		hgroup {
			width: 65%;
			padding: 20px 10% 20px 5%;

			@include mobile-landscape-and-below {
				padding-bottom: 0px;
			}

			h2 {
				font-family: 'MuseoSans_100';
				font-size: 34px;
				line-height: 1.1;
				color: $brand;
				background: $body-bg;
				padding: 5px;
				margin-bottom: 10px;

				@include mobile-landscape-and-below {
					font-size: 20px;
					line-height: 1;
					width: 90%;
				}
			}

			p {
				font-size: 16px;
				float: left;
				color: $brand;
				background: $body-bg;
				padding: 5px;
			
				@include mobile-landscape-and-below {
					font-size: 14px;
					line-height: 1.1;
				}
			}
		}
	}
}

section.top-photo-credit {
	position: relative;

	.photo-credit {
		position: static;
		top: 5px;
		width: 100%;
		z-index: 2;
	}
}