// body {
// 	background: #444;
// }

// .breadcrumb {
// 	background: #333;
// 	border: 0;
// 	a, p, span {
// 		text-shadow: none !important;
// 		color: #fff !important;
// 	}
// }

// p {
// 	color: #fff;
// }

// article {
// h1, h2, h3, h5, h4.when-to-climb, h4.approach, blockquote, small, .google-map-link, .parking-gps, .boulders-gps { color: #fff !important}

// .title, .grade {
// 	color: #fff !important; text-shadow: none !important;
// }

// .rating {
// 	text-shadow: none !important;
// }

// .range {box-shadow: none !important;}

// figcaption {
// 	background: #222;
// 	color: #fff; 
// 	text-shadow: none;
// }

// }

// .proj {
// 	b, strong, p, .title, .grade {
// 		color: $proj !important;
// 	}
// }

// p b, p strong {
// 	color: #fff !important;
// }

// aside {
// 	h4 {
// 		color: #fff;
// 	}
// }

// section#overview-page .approach:after,section#overview-page article .parking-gps, section#overview-page article .boulders-gps{
// 	color: #fff !important;
// }

// .area-info h3 {
// 	color: $brand !important;
// }